In [ ]:
USE master;

In [ ]:
create database books_db;

In [ ]:
drop database ecolab_books_db

In [ ]:
CREATE TABLE
    PUBLISHER(
        ID INT IDENTITY PRIMARY KEY,
        P_NAME VARCHAR(100) NOT NULL,
        P_ADDRESS VARCHAR(100) NOT NULL,
        WEBSITE VARCHAR(100)
    )

In [ ]:
    CREATE TABLE 
    ISBN
    (
        ID INT IDENTITY PRIMARY KEY,
        BOOK_FORMAT VARCHAR(20),
        PRICE FLOAT,
        COVER VARCHAR(100),
        PUBLISHER_ID INT NOT NULL,
        FOREIGN KEY (PUBLISHER_ID) REFERENCES PUBLISHER(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [ ]:
CREATE TABLE
    AUTHOR
    (
        ID INT IDENTITY PRIMARY KEY,
        AUTHOR_PHOTO VARCHAR(150),
        NAME VARCHAR(100) NOT NULL,
        BIO VARCHAR(100)
    )

In [ ]:
CREATE TABLE 
    BOOK
    (
        ID INT IDENTITY PRIMARY KEY,
        ISBN INT NOT NULL,
        TITLE VARCHAR(100),
        AUTHOR INT NOT NULL,
        FOREIGN KEY (ISBN) REFERENCES ISBN(ID) ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (AUTHOR) REFERENCES AUTHOR(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [ ]:
CREATE TABLE
    REVIEWER(
        ID INT IDENTITY PRIMARY KEY,
        R_NAME VARCHAR(100) NOT NULL,
        R_EMAIL VARCHAR(100) NOT NULL
    )

In [ ]:
CREATE TABLE
    REVIEWS(
        ID INT IDENTITY PRIMARY KEY,
        REVIEWER_ID INT NOT NULL,
        ISBN INT NOT NULL,
        TITLE VARCHAR(100) NOT NULL,
        DETAILS VARCHAR(200) NOT NULL,
        RATING INT NOT NULL DEFAULT(3),
        FOREIGN KEY (REVIEWER_ID) REFERENCES REVIEWER(ID) ON DELETE CASCADE ON UPDATE CASCADE,
        FOREIGN KEY (ISBN) REFERENCES ISBN(ID) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [ ]:
CREATE PROCEDURE ADD_PUBLISHER
    @NAME AS VARCHAR(100),
    @ADDRESS AS VARCHAR(100),
    @WEBSITE AS VARCHAR(100)
AS
    INSERT INTO
        PUBLISHER(P_NAME, P_ADDRESS, WEBSITE)
    VALUES(@NAME, @ADDRESS, @WEBSITE)
GO

In [ ]:
CREATE PROCEDURE ADD_BOOK
    @ISBN INT,
    @BOOK_FORMAT VARCHAR(20),
    @PRICE FLOAT,
    @COVER VARCHAR(100),
    @PUBLISHER_ID INT,
AS
    INSERT INTO
        BOOK(ISBN, BOOK_FORMAT, PRICE, COVER, PUBLISHER_ID)
    VALUES(@NAME, @ADDRESS, @WEBSITE)
GO